# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/5.6.1/executionHistory/executionHistory.bin
.gradle/5.6.1/executionHistory/executionHistory.lock
.gradle/5.6.1/fileChanges/last-build.bin
.gradle/5.6.1/fileContent/fileContent.lock
.gradle/5.6.1/fileHashes/fileHashes.bin
.gradle/5.6.1/fileHashes/fileHashes.lock
.gradle/5.6.1/gc.properties
.gradle/5.6.1/javaCompile/classAnalysis.bin
.gradle/5.6.1/javaCompile/javaCompile.lock
.gradle/5.6.1/javaCompile/taskHistory.bin
.gradle/5.6.2/executionHistory/executionHistory.bin
.gradle/5.6.2/executionHistory/executionHistory.lock
.gradle/5.6.2/fileChanges/last-build.bin
.gradle/5.6.2/fileContent/fileContent.lock
.gradle/5.6.2/fileHashes/fileHashes.bin
.gradle/5.6.2/fileHashes/fileHashes.lock
.gradle/5.6.2/fileHashes/resourceHashesCache.bin
.gradle/5.6.2/gc.properties
.gradle/5.6.2/javaCompile/classAnalysis.bin
.gradle/5.6.2/javaCompile/jarAnalysis.bin
.gradle/5.6.2/javaCompile/javaCompile.lock
.gradle/5.6.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/.name
.idea/codeStyles/codeStyleConfig.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/Gradle__antlr_antlr_2_7_7.xml
.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Gradle__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Gradle__com_carrotsearch_hppc_0_7_1.xml
.idea/libraries/Gradle__com_fasterxml_classmate_1_4_0.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_hibernate5_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_hppc_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_afterburner_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_parameter_names_2_9_9.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Gradle__com_google_guava_guava_20_0.xml
.idea/libraries/Gradle__com_h2database_h2_1_3_148.xml
.idea/libraries/Gradle__com_infradna_tool_bridge_method_annotation_1_13.xml
.idea/libraries/Gradle__com_mysema_codegen_codegen_0_6_8.xml
.idea/libraries/Gradle__com_mysema_commons_mysema_commons_lang_0_2_4.xml
.idea/libraries/Gradle__com_querydsl_querydsl_apt_4_1_4.xml
.idea/libraries/Gradle__com_querydsl_querydsl_codegen_4_1_4.xml
.idea/libraries/Gradle__com_querydsl_querydsl_core_4_2_1.xml
.idea/libraries/Gradle__com_querydsl_querydsl_jpa_4_2_1.xml
.idea/libraries/Gradle__com_querydsl_querydsl_sql_4_2_1.xml
.idea/libraries/Gradle__com_querydsl_querydsl_sql_spring_4_2_1.xml
.idea/libraries/Gradle__com_sun_mail_javax_mail_1_6_2.xml
.idea/libraries/Gradle__com_xebia_jackson_lombok_1_1.xml
.idea/libraries/Gradle__com_zaxxer_HikariCP_3_2_0.xml
.idea/libraries/Gradle__commons_beanutils_commons_beanutils_1_9_3.xml
.idea/libraries/Gradle__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Gradle__commons_io_commons_io_2_6.xml
.idea/libraries/Gradle__io_micrometer_micrometer_core_1_1_5.xml
.idea/libraries/Gradle__io_netty_netty_buffer_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_http_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_common_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_handler_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_resolver_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_transport_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_transport_native_kqueue_osx_x86_64_4_1_38_Final.xml
.idea/libraries/Gradle__io_netty_netty_transport_native_unix_common_4_1_38_Final.xml
.idea/libraries/Gradle__io_springfox_springfox_core_2_8_0.xml
.idea/libraries/Gradle__io_springfox_springfox_schema_2_8_0.xml
.idea/libraries/Gradle__io_springfox_springfox_spi_2_8_0.xml
.idea/libraries/Gradle__io_springfox_springfox_spring_web_2_8_0.xml
.idea/libraries/Gradle__io_springfox_springfox_swagger2_2_8_0.xml
.idea/libraries/Gradle__io_springfox_springfox_swagger_common_2_8_0.xml
.idea/libraries/Gradle__io_springfox_springfox_swagger_ui_2_8_0.xml
.idea/libraries/Gradle__io_swagger_swagger_annotations_1_5_14.xml
.idea/libraries/Gradle__io_swagger_swagger_models_1_5_14.xml
.idea/libraries/Gradle__io_undertow_undertow_core_2_0_23_Final.xml
.idea/libraries/Gradle__io_undertow_undertow_servlet_2_0_23_Final.xml
.idea/libraries/Gradle__io_undertow_undertow_websockets_jsr_2_0_23_Final.xml
.idea/libraries/Gradle__javax_activation_activation_1_1.xml
.idea/libraries/Gradle__javax_activation_javax_activation_api_1_2_0.xml
.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_3_2.xml
.idea/libraries/Gradle__javax_cache_cache_api_1_1_1.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
.idea/libraries/Gradle__javax_jdo_jdo_api_3_0_1.xml
.idea/libraries/Gradle__javax_jms_javax_jms_api_2_0_1.xml
.idea/libraries/Gradle__javax_json_javax_json_api_1_1_4.xml
.idea/libraries/Gradle__javax_persistence_javax_persistence_api_2_2.xml
.idea/libraries/Gradle__javax_servlet_javax_servlet_api_4_0_1.xml
.idea/libraries/Gradle__javax_transaction_javax_transaction_api_1_3.xml
.idea/libraries/Gradle__javax_transaction_jta_1_1.xml
.idea/libraries/Gradle__javax_validation_validation_api_2_0_1_Final.xml
.idea/libraries/Gradle__javax_xml_bind_jaxb_api_2_3_1.xml
.idea/libraries/Gradle__joda_time_joda_time_2_10_3.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_9_16.xml
.idea/libraries/Gradle__net_javacrumbs_shedlock_shedlock_core_2_3_0.xml
.idea/libraries/Gradle__net_javacrumbs_shedlock_shedlock_provider_jdbc_internal_2_3_0.xml
.idea/libraries/Gradle__net_javacrumbs_shedlock_shedlock_provider_jdbc_template_2_3_0.xml
.idea/libraries/Gradle__net_javacrumbs_shedlock_shedlock_spring_2_3_0.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_commons_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_core_client_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_jdbc_store_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_jms_client_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_jms_server_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_journal_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_native_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_selector_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_server_2_6_4.xml
.idea/libraries/Gradle__org_apache_activemq_artemis_service_extensions_2_6_4.xml
.idea/libraries/Gradle__org_apache_commons_commons_compress_1_18.xml
.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Gradle__org_apache_geronimo_specs_geronimo_jms_2_0_spec_1_0_alpha_2.xml
.idea/libraries/Gradle__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1.xml
.idea/libraries/Gradle__org_apache_johnzon_johnzon_core_1_1_13.xml
.idea/libraries/Gradle__org_apache_logging_log4j_log4j_api_2_11_2.xml
.idea/libraries/Gradle__org_apache_logging_log4j_log4j_to_slf4j_2_11_2.xml
.idea/libraries/Gradle__org_apache_servicemix_bundles_org_apache_servicemix_bundles_javax_inject_1_2.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_9_0_22.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_9_0_22.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_22.xml
.idea/libraries/Gradle__org_aspectj_aspectjweaver_1_9_4.xml
.idea/libraries/Gradle__org_attoparser_attoparser_2_0_5_RELEASE.xml
.idea/libraries/Gradle__org_dom4j_dom4j_2_1_1.xml
.idea/libraries/Gradle__org_eclipse_jdt_core_compiler_ecj_4_3_1.xml
.idea/libraries/Gradle__org_glassfish_javax_el_3_0_0.xml
.idea/libraries/Gradle__org_hdrhistogram_HdrHistogram_2_1_9.xml
.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_0_4_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_core_5_3_10_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_entitymanager_5_3_10_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_envers_5_3_10_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_jcache_5_3_10_Final.xml
.idea/libraries/Gradle__org_hibernate_validator_hibernate_validator_6_0_17_Final.xml
.idea/libraries/Gradle__org_javassist_javassist_3_23_2_GA.xml
.idea/libraries/Gradle__org_jboss_jandex_2_0_5_Final.xml
.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_2_Final.xml
.idea/libraries/Gradle__org_jboss_logmanager_jboss_logmanager_2_0_3_Final.xml
.idea/libraries/Gradle__org_jboss_spec_javax_annotation_jboss_annotations_api_1_2_spec_1_0_2_Final.xml
.idea/libraries/Gradle__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
.idea/libraries/Gradle__org_jboss_spec_javax_websocket_jboss_websocket_api_1_1_spec_1_1_4_Final.xml
.idea/libraries/Gradle__org_jboss_xnio_xnio_api_3_3_8_Final.xml
.idea/libraries/Gradle__org_jboss_xnio_xnio_nio_3_3_8_Final.xml
.idea/libraries/Gradle__org_jgroups_jgroups_3_6_13_Final.xml
.idea/libraries/Gradle__org_latencyutils_LatencyUtils_2_0_3.xml
.idea/libraries/Gradle__org_mapstruct_mapstruct_1_2_0_Final.xml
.idea/libraries/Gradle__org_projectlombok_lombok_1_18_4.xml
.idea/libraries/Gradle__org_projectlombok_lombok_1_18_6.xml
.idea/libraries/Gradle__org_reflections_reflections_0_9_11.xml
.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_26.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_26.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_actuator_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_actuator_autoconfigure_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_loader_tools_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_actuator_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_aop_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_artemis_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_cache_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_cloud_connectors_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jpa_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_hateoas_1_2_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_json_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_mail_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_thymeleaf_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_undertow_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_2_1_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_cloud_spring_cloud_cloudfoundry_connector_2_0_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_cloud_spring_cloud_connectors_core_2_0_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_cloud_spring_cloud_heroku_connector_2_0_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_cloud_spring_cloud_localconfig_connector_2_0_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_cloud_spring_cloud_spring_service_connector_2_0_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_data_spring_data_commons_2_1_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_data_spring_data_jpa_2_1_10_RELEASE.xml
.idea/libraries/Gradle__org_springframework_hateoas_spring_hateoas_0_25_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aop_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aspects_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_beans_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_support_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_core_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_expression_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_jcl_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_jdbc_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_jms_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_messaging_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_orm_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_tx_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_web_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_webmvc_5_1_9_RELEASE.xml
.idea/libraries/Gradle__org_thymeleaf_extras_thymeleaf_extras_java8time_3_0_4_RELEASE.xml
.idea/libraries/Gradle__org_thymeleaf_thymeleaf_3_0_11_RELEASE.xml
.idea/libraries/Gradle__org_thymeleaf_thymeleaf_spring5_3_0_11_RELEASE.xml
.idea/libraries/Gradle__org_unbescape_unbescape_1_1_6_RELEASE.xml
.idea/libraries/Gradle__org_yaml_snakeyaml_1_23.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/repo.iml
.idea/modules/repo.main.iml
.idea/modules/repo.querydsl.iml
.idea/modules/repo.test.iml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
build/resources/main/application-test.yml
build/resources/main/application.properties
build/resources/main/data.sql
build/resources/main/git.properties
build/resources/main/schema.sql
build/tmp/bootJar/MANIFEST.MF
.idea/libraries/Gradle__com_sun_jersey_jersey_core_1_19_3.xml
.gradle/buildOutputCleanup/outputFiles.bin
.idea/libraries/Gradle__com_sun_jersey_jersey_json_1_19_3.xml
.idea/libraries/Gradle__com_sun_xml_bind_jaxb_impl_2_2_3_1.xml
.idea/libraries/Gradle__io_jsonwebtoken_jjwt_0_7_0.xml
.idea/libraries/Gradle__javax_ws_rs_jsr311_api_1_1_1.xml
.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_9.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_core_asl_1_9_2.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_jaxrs_1_9_2.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_mapper_asl_1_9_2.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_xc_1_9_2.xml
.idea/libraries/Gradle__org_codehaus_jettison_jettison_1_1.xml
.idea/libraries/Gradle__org_json_json_20190722.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_security_2_2_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_config_5_1_6_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_core_5_1_6_RELEASE.xml
.idea/modules/painel-web.iml
.idea/libraries/Gradle__org_springframework_security_spring_security_web_5_1_6_RELEASE.xml
